@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.button {
    margin: 8px;
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    color: black;
    text-decoration: none;
    background-color: #bbe1fa;
    font-family: 'Righteous', cursive;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 3px 0px #bfcba8, 0px 3px 6px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 3px 0px #bfcba8, 0px 3px 6px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 3px 0px #bfcba8, 0px 3px 6px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.operator {
    background-color: #3282b8;
    color: #fff;
}

.button:hover {
    text-shadow: 1px 1px rgb(238, 230, 230), 2px 2px rgb(238, 230, 230),
        3px 3px rgb(238, 230, 230);
    -webkit-box-shadow: 0px 9px 0px white, 0px 9px 25px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 9px 0px white, 0px 9px 25px rgba(0, 0, 0, 0.7);
    box-shadow: 6px 9px 0px white, 6px 9px 25px rgba(0, 0, 0, 0.7);
}

.button:active {
    background-color: white;
    color: black;
    transform: translateY(5px);
}

.operator:hover {
    text-shadow: 1px 1px black, 2px 2px black, 3px 3px black;
}

.operator:active {
    color: white;
}

@media only screen and (max-height: 670px) {
    .button {
        font-size: 20px;
    }

    .clear-btn {
        height: 2em;
    }
}
