.clear-btn {
    display: flex;
    flex: 1;
    height: 4em;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-size: 1rem;
    outline: 1px solid #888;
    height: 80px;
    background-color: #0f4c75;
    margin-top: 7px;
    font-size: 27px;
}

.clear-btn:active {
    background-color: white;
}

@media only screen and (max-height: 670px) {
    .clear-btn {
        height: 55px;
    }
}
