.input {
    padding: 10px;
    display: flex;
    height: 4em;
    flex: 1;
    background-color: #0f4c75;
    outline: 1px solid #888;
    color: #fff;
    justify-content: flex-end;
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.4em;
    align-items: center;
    overflow-x: hidden;
    letter-spacing: 3px;
}

@media only screen and (max-height: 670px) {
    .input {
        height: 2.5em;
    }
}
