@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10vw;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Righteous', cursive;
}

.cals-wrapper {
    width: 400px;
    height: 620px;
    border: 3px solid #3282b8;
}

.row {
    display: flex;
    width: 100%;
}
@media only screen and (max-width: 400px) {
    .cals-wrapper {
        width: 95%;
        height: 620px;
    }
}

@media only screen and (max-height: 670px) {
    .App {
        margin-top: 10px;
    }
    .cals-wrapper {
        margin-top: 4vw;
        margin: auto;
        width: 95%;
        height: auto;
    }
    .button {
        font-size: 20px;
    }
    .input {
        height: 2em;
    }
    .clear-btn {
        height: 2em;
    }
}
@media only screen and(min-height: 560px) and (max-height: 670px) {
    .cals-wrapper {
        margin-top: auto;
    }
}
